.Button {
  cursor: pointer;
  color: var(--primary-color);
}

.clear {
  background: none;
}

.outline {
  padding: 5px 15px;
  border: var(--primary-color) 1px solid;
  color: var(--primary-color);
  background: none;
}
